@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

//////////////////////////////

/*
	 * Below are Cascading Style Sheet (CSS) definitions in use in this file,
	 * which allow easily changing how countries are displayed.
	 *
	 * The styles are applied in the order in which they are defined (and re-defined) here in the preamble.
	 */

/*
	 * Circles around small countries and territories
	 *
	 * Change opacity to 1 to display all circles
	 */
.circlexx {
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.5;
}

/*
	 * Smaller circles around subnational territories: Australian external territories, Chinese SARs, Dutch special municipalities, and French DOMs (overseas regions/departments) [but not French COMs (overseas collectivities)]
	 *
	 * Change opacity to 1 to display all circles
	 */
.subxx {
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.3;
}

/*
	 * Land
	 * (all land, as opposed to water, should belong to this class; in order to modify the coastline for land pieces with no borders on them a special class "coastxx" has been added below)
	 */
.landxx {
	fill: #c0c0c0;
	stroke: #ffffff;
	stroke-width: 0.5;
	fill-rule: evenodd;
}

/*
	 * Styles for coastlines of islands and continents with no borders on them
	 * (all of them should also belong to the class "landxx" - to allow for all land to be modified at once by refining "landxx" style's definition further down)
	 */
.coastxx {
	stroke-width: 0.2;
}

/*
	 * Styles for territories without permanent population (the largest of which is Antarctica)
	 *
	 * Change opacity to 0 to hide all territories
	 */
.antxx {
	opacity: 1;
	fill: #c0c0c0;
}

/*
	 * Circles around small countries without permanent population
	 *
	 * Change opacity to 1 to display all circles
	 */
.noxx {
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.5;
}

/*
	 * Styles for territories with limited or no recognition
	 * (all of them - including Taiwan - are overlays (i.e. duplicate layers) over their "host" countries, and so not showing them doesn't leave any gaps on the map)
	 *
	 * Change opacity to 1 to display all territories
	 */
.limitxx {
	opacity: 0;
	fill: #c0c0c0;
	stroke: #ffffff;
	stroke-width: 0.2;
	fill-rule: evenodd;
}

/*
	 * Smaller circles around small territories with limited or no recognition
	 *
	 * Change opacity to 1 to display all circles
	 */
.unxx {
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.3;
}

/*
	 * Oceans, seas, and large lakes
	 */
.oceanxx {
	opacity: 1;
	fill: #ffffff;
	stroke: #000000;
	stroke-width: 0.5;
}

/*
	 * Reserved class names:
	 *
	 * .eu - for members of European Union
	 * .eaeu - for members of Eurasian Economic Union
	 */

/*
	 * Additional style rules
	 *
	 * The following are examples of colouring countries.
	 * These can be substituted with custom styles to colour the countries on the map.
	 *
	 * Colour a few countries:
	 *
	 * .gb, .au, .nc
	 * {
	 * 	fill: #ff0000;
	 * }
	 *
	 * Colour a few small-country circles (along with the countries):
	 *
	 * .ms, .ky
	 * {
	 * 	opacity: 1;
	 * 	fill: #ff0000;
	 * }
	 *
	 */

body {
	--indigoA9: hsl(226 100% 41.2% / 0.757);

	--tomato9: hsl(10 78% 54%);

	--redA9: hsl(358 99.9% 42.9% / 0.718);

	--crimsonA9: hsl(336 99.9% 44.3% / 0.761);

	--pinkA9: hsl(322 99.7% 39.3%);
	--plumA9: hsl(292 99.9% 31%);
	--purpleA9: hsl(272 99.6% 34%);
	--violetA9: hsl(252 99.9% 35.8%);
	--blueA9: hsl(206 100% 50%);
	--cyanA9: hsl(190 100% 37.8%);
	--tealA9: hsl(173 99.8% 31.1%);
	--green9: hsl(151 55% 41.5%);
	--grass9: hsl(131 41% 46.5%);
	--orange9: hsl(24 94% 50%);
	--brown9: hsl(28 34% 51%);
	--sky9: hsl(193 98% 70%);
	--mint9: hsl(167 65% 66%);
	--yellow10: hsl(50 100% 48.5%);
	--amber8: hsl(35 85.2% 55.1%);
}

.land-highlight,
.land-highlight .landxx {
	fill: var(--indigoA9);
}
